body{
    background-color: whitesmoke;
}
form{
    /* display: none; */
    max-width: 500px;
    text-align: center;
}
#form{
    display: flex;
    justify-content: center;
}
.form-control{
    margin: 10px;
}